@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(24, 24, 24);
}

.fade-bg-color {
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
}

.fade-color {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

::selection {
  background: rgb(180, 250, 255);
  color: #000;
}
::-moz-selection {
  background: rgb(180, 250, 255);
  color: #000;
}

.icon-tooltip {
  position: relative;
  display: inline-block;
}

.icon-tooltip-text {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  border: 2px solid rgb(80, 80, 80);
  border-radius: 4px;
  color: #000;
  padding: 2px 4px;
  opacity: 0;
  font-size: 0.85rem;
  transition: opacity 0.5s;
  bottom: -110%;
}

.icon-tooltip .icon-tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.icon-tooltip:hover .icon-tooltip-text {
  visibility: visible;
  opacity: 1;
}
