@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(24, 24, 24);
}

.fade-bg-color {
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
}

.fade-color {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

::selection {
  background: rgb(180, 250, 255);
  color: #000;
}
::-moz-selection {
  background: rgb(180, 250, 255);
  color: #000;
}
